/*div{
	border: 1px solid black;
}*/

#title_lyrics_page{
	color: #c53fff;
	text-align: center;
	margin-top: 20px;
	font-size: 50px;
	margin-bottom: 20px;
}

body {
	font-family: 'Montserrat', sans-serif;
}


.container-full{
	background-color: #d9d9d9;
	height: 1200px;
	font-family: 'Montserrat', sans-serif;
}


#back_to_songlist_btn, #back_to_WC_btn {
	color: white;
	background-color: #c53fff;
	margin: 10px;
}

#lyrics {
	color: #c53fff;
	margin-bottom: 30px;
}

#buttonRow {
	
	text-align:center;
}