/*div{
	border: 1px solid black;
}*/

#title_lyrics_page{
	color: #c578dc;
	text-align: center;
	margin-top: 30px;
}

.btn{
	margin-top: 15px;
	background: #c578dc;/*#c53fff;*/
}

.container-full{
	background-color: #DCDCDC;/*#bababa;*/
	height: 800px;
}

#back_to_home_btn{
	color:black;
}

#back_to_word_btn{
	color:black;
}