/*.header 
{
	 background-color: #bababa;
	 margin-left: 500;
	 margin-right: 200;
	 padding-bottom: 50px;
}*/

.container-full
{
	background-color: #d9d9d9;
	height: 1500px;
	font-family: 'Montserrat', sans-serif;
}

#backToWCButton {
	color: white;
	background-color: #c53fff;
}

#songListHeader {
	color: #c53fff;
	text-align: center;
	font-size: 100px;
	margin-bottom: 20px;
}

#songListTable{
	color: #c53fff;
	font-size: 35px;
	margin-bottom: 30px;
}


#buttonrow {
	text-align: center;
}

